/*Header*/
#header{
    display: flex; 
    gap: 30px; 
    justify-content:space-around ;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 100px;
}

#leftSide{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    max-width: 50%;

    padding-left: 15vw;
}

#rightSide{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width:50%;
    align-items: end;

    padding-right: 15vw;
}

#mainTextDescrip{
    flex:1;
    
}

#headerinfotext{
    margin-top: 5vh;
    flex-grow:1;
}
#logo {
    margin-top: 5vh;
}
#logo img{
    
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
}

#headerLinks{
    display: flex;
    gap: 30px;
}
#mainText{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 34px;
}


.secondaryText{
    font-size: 18px;
    color: #E5E7EB;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
img {
    background-color: #E5E7EB;
}

button {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    font-weight: bold;
}

/*Body*/
#infoIcons{
    display: flex;
    flex-direction: column;
}
#iconContainer{
    margin-left: 20vw;
    margin-right: 20vw;
    display: flex;
    flex: 1 1 none;
    justify-content: center;
    gap: 50px;
}

.iconAndSubscription{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


.icon{
    display: flex;

    max-width: 150px;
    max-height: 150px;
    border: 2px solid #3882F6;
    border-radius: 25px;
}

#quote{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #E5E7EB;

    padding-top: 3vh;
    padding-left: 20vw;
    padding-right: 20vw;


}
#quote p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'roboto';
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
}

.quoteAuthor{
    font-weight: bold;
    width: auto;
    height: auto;
}

